
.allstore-search {
    position: absolute;
    top: 120px;
    width: 600px;
}

#allstores-title {
    position: absolute;
    top: 100px;
    left: 100px;
}

.content-wrapper{
    margin: 0 15px;
    margin-top: 120px;
}