.tableWrapper{
    display: block;
    overflow-x:auto;
}
.divTable {
    display: table;
    border-radius: 4px;
}

.divTableBody {
  display: block;
}

.divTableRow {
    display: flex;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    border: 1px solid #EEE;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    user-select: none;
    display: block;
}

.divTableHead {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    color: #EEE;
    font-weight: bold;
}

.divTableCell {
    border: none;
    overflow: hidden;
}

.divTableHead .sort-wrapper{
    display: flex;
    flex-direction: column;
    opacity: 0;
    cursor: pointer;
    padding: 0 10px;
    overflow: visible;
}

.divTableHead .sort-wrapper:hover{
  opacity: 0.5;
}

.divTableHead span.ui-column-resizer {
    display: inline-block;
    position: absolute;
    top: 0;
    right: -6px;
    cursor: col-resize;
    height: 100%;
    width: 10px;
    z-index: 2;
}

.divTableHead span.ui-sort-button{
    cursor: pointer;
    padding: 0 10px; 
}

.divTableRow:nth-child(even) {
    background-color: rgba(192,192,192,0.3)!important;
}

.table-body {
    overflow-y: auto;
}