<div class="tableWrapper" [style.width.%]="tableConfig?.tableWidth">
  <div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow table-header">
         <div *ngFor="let heading of tableHeadingNames; let i=index; " style="display: flex;">
           <div class="divTableHead divTableHeading"  [style.width.px]="columnWidth[i]" [style.minWidth.px]="tableConfig?.cellMinWidth" [style.padding.px]="tableConfig?.cellPadding">
               <span>{{ heading }}</span>
               <div class="sort-wrapper" *ngIf="selectedSortColumn!=i && tableConfig?.sort">
                 <span (click)="sortBy(heading,'asc',i)" style="cursor: pointer;">
                    <fa-icon [icon]="faSortUp"></fa-icon>
                  </span>
                  <span (click)="sortBy(heading,'des',i)" style="cursor: pointer;">
                    <fa-icon [icon]="faSortDown"></fa-icon>
                 </span>
               </div>
               <span class="ui-sort-button" (click)="sortBy(heading,'des',i)" *ngIf="selectedSortColumn==i&&sortingOrder=='asc'&& tableConfig?.sort" style="cursor: pointer;">
                  <fa-icon [icon]="faSortUp"></fa-icon>
                </span>
                <span class="ui-sort-button" (click)="sortBy(heading,'asc',i)" *ngIf="selectedSortColumn==i&&sortingOrder=='des'&& tableConfig?.sort" style="cursor: pointer;">
                    <fa-icon [icon]="faSortDown"></fa-icon>
                </span>
               <span class="ui-column-resizer" style="cursor:col-resize;" *ngIf="i!=tableHeadingNames.length-1&& tableConfig?.resize" (mousedown)="onMouseDown($event)" (drag)="initResizableColumns($event)"></span>
            </div>
         </div> 
        </div>
        <div class="table-body" [style.height.px]="tableConfig?.tableHeight" [style.minWidth.px]="tableConfig?.cellMinWidth" infiniteScroll
		    [infiniteScrollDistance]="2"
		    [infiniteScrollThrottle]="500"
        (scrolled)="handleScroll()"
        [scrollWindow]="false">
        <div class="divTableRow" *ngFor="let data of _tableData">
         <div *ngFor="let heading of tableHeadingNames; let i=index; " style="display: flex;">
          <div class="divTableCell" [style.width.px]="columnWidth[i]" [style.padding.px]="tableConfig?.cellPadding">{{data[heading]}}</div>
        </div>
        </div>
    </div>
    </div>
  </div>
</div>
<p *ngIf="_tableData">Total Results : {{_tableData.length}}</p>